# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Vector Store
vectorstore/
*.db
*.sqlite
*.bin

# Cache and Conversation History
cache/
*.json
!requirements.txt

# Uploaded Documents
data/uploads/*
!data/uploads/.gitkeep

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log

vectorstore/sql_lite/rag_chatbot.db
vectorstore/chroma_db/chroma.sqlite3
vectorstore/chroma_db/45dd36f5-7f53-4f92-9a3e-46c6c1e04824/data_level0.bin
/.rwi
/database
.cspell
tesseract
